/* Row */
.flex { display: flex; }
.wrap { flex-wrap: wrap; }

.flex-top { align-items: flex-start; }
.flex-middle { align-items: center; }
.flex-bottom { align-items: flex-end; }

/* Col */
.col-top { align-self: flex-start; }
.col-middle { align-self: center; }
.col-bottom { align-self: flex-end; }
