:root {
  --color-primary: #7DFAD3;
  --color-black: #333333;
  --color-grey-75: #BFBFBF;
  --color-grey-80: #CCCCCC;
  --color-grey-85: #D9D9D9;
  --color-grey-90: #E6E6E6;
  --color-grey-95: #F3F3F3;
  --color-white: #FFFFFF;
}
